body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    text-align: center;
}

#codigoGenerado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
